@media (max-width: 1024px) {
    input {
        width: 60%;
    }
     ::placeholder {
        font-size: 25px;
    }
    button {
        font-size: 25px;
    }
    h2 {
        width: 100%;
        margin: 0;
        padding: 1em 1em;
    }
    #checkbox-content {
        top: 3em;
        left: 78%;
    }
}

@media(max-width: 700px) {
    button {
        z-index: 1;
        min-width: 100px;
    }
    .content .wrapper {
        margin: -5em auto -1em;
        height: auto;
    }
    .wrapper,
    li {
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }
    .wrapper p {
        padding: 0;
        width: 100%;
    }
    h2 {
        pad: 1em 0.3em;
    }
    h3 {
        padding: 1em;
        width: 100%;
        margin: 0 auto;
    }
    input {
        width: 60%;
    }
}

@media (max-width: 540px) {
    input {
        width: 100%;
        text-align: center;
    }
    button {
        width: 30%;
        font-size: 15px;
    }
    #checkbox-content {
        left: 70%;
    }
}